body{
    background-color:mediumturquoise;
}

#FacePic{
    border-radius: 80px;
}

#FacePic:hover{
    box-shadow: 0 .2em .2em .2em rgb(0, 102, 255);
    transform: scale(105%);
}

#Education{
    text-align: center;
}

span{
    display: inline-block;       /* 如何靠左居中对齐 */
    text-align: left;
}

li{
    font-size: larger;
}

#UWMLogo:hover{
    box-shadow: 0 .3em .3em .3em red;
    transform: scale(105%);
    
}

#UMichLogo{
    transform: translate(13rem);
}

#UMichLogo:hover{
    box-shadow: 0 .3em .3em .3em blue;
    transform: scale(105%);
    transform: translate(13rem);
    
}

#hobbies{
    font-size: larger;
}

#interests{
    font-size: larger;
}
