body{
    background-color:cornsilk;
}

#PS{
    width: 70rem;
    font-size: large;
}

.Pdiv{
    position: relative;
}

.Cdiv{
    margin-left: 300px;
    position: relative;
    transform: translate(-3rem,-150px);
    width: 25rem;
}