body{
    background-color:cornsilk;
}

#abstract{
    font-size: larger;
}

#sketch{
    transform: translate(600px, -350px);
}

#divC_sketch{
    transform: translate(610px, -330px);
    font-size: medium;
    width: 250px;
}

#model{
    transform: translate(150px);
}

.divC{
    font-size: medium;
    transform: translate(140px, 25px);
    width: 300px;
}

#chamber{
    transform: translate(600px, -295px);
}

#chambNote{
    font-size: medium;
    transform: translate(590px, -270px);
}

#pump{
    transform: translate(150px);
}

/* #FR{
    transform: translate(150px);
} */

.image:hover{
    transform: scale(1.15);
}

#VI{
    width: 400px;
}


#VIII{
    width: 400px;
}

.result{
    font-size: larger;
}

