body{
    background-color:cornsilk;
}

/* h2{
    font-size: larger;
} */

.pDiv{
    font-size: larger;
}

#pDiv1{
    align-items: center;
}

.cDiv1{
    text-align: center;
    width: 300px;
    font-size: medium;
}

img:hover{
    transform: scale(1.1);
}

.words{
    font-size: larger;
}

#stats{
    text-align: left;
    display: inline-block;
}

.name{
    font-size: larger;
}

#conclusion{
    font-size: larger;
}

#future{
    font-size: larger;
}